### 1. Python program to sort Python Dictionaries by Keys

In [8]:
distance = {'delhi':1000,'mumbai':2000,'banglore':3000}
print(dict(sorted(distance.items())))

{'banglore': 3000, 'delhi': 1000, 'mumbai': 2000}

In [9]:
distance = {'delhi':1000,'mumbai':2000,'banglore':3000}
print(dict(sorted(distance.items(),reverse=True)))

{'mumbai': 2000, 'delhi': 1000, 'banglore': 3000}

In [6]:
distance = {'delhi':1000,'mumbai':2000,'banglore':3000}
list1 = []
for key,value in distance.items():
    list1.append([key,value])
print(list1)
sorted(list1)

[['delhi', 1000], ['mumbai', 2000], ['banglore', 3000]]

[['banglore', 3000], ['delhi', 1000], ['mumbai', 2000]]

### 2. Python program to sort Python Dictionaries by Values

In [16]:
distance = {'delhi':1000,'mumbai':2000,'banglore':3000}

sorted_val = dict(sorted(distance.items() ,key = lambda x: x[1]))
sorted_val

{'delhi': 1000, 'mumbai': 2000, 'banglore': 3000}

In [17]:
distance = {'delhi':1000,'mumbai':2000,'banglore':3000}

rev_sort = dict(sorted(distance.items() , key = lambda x: x[1],reverse = True))
rev_sort

{'banglore': 3000, 'mumbai': 2000, 'delhi': 1000}

### 3. Python program to find the sum of all items in a dictionaryn

In [19]:
my_dict = {'data1': 100, 'data2': -54, 'data3': 247}

total_sum = sum(my_dict.values())
print(total_sum)

293

### 4. Python program to remove a key from a dictionary

In [30]:
my_dict = {'data1': 100, 'data2': -54, 'data3': 247}
my_dict.pop('data1')
print(my_dict)

{'data2': -54, 'data3': 247}

### 5. Python program to merge two Dictionaries

In [32]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'d': 3, 'c': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'd': 3, 'c': 4}

In [33]:
print(dict1 | dict2)

{'a': 1, 'b': 2, 'd': 3, 'c': 4}

In [34]:
merge_dict = {**dict1 , **dict2}
print(merge_dict)

{'a': 1, 'b': 2, 'd': 3, 'c': 4}

### 6. Python program to convert a list of Tuples into Dictionary

In [35]:
tuples_list = [('a', 1), ('b', 2), ('c', 3)]

d = dict(tuples_list)
d

{'a': 1, 'b': 2, 'c': 3}

### 7. Counting the frequencies in a list using a dictionary in Python

In [40]:
my_list = ['apple', 'red', 'apple', 'red', 'red', 'pear']

dict1 = {}

for key in my_list:
    value = my_list.count(key)
    dict1.update({key:value})
print(dict1)

{'apple': 2, 'red': 3, 'pear': 1}

### 8. Python program to find the size of a dictionary

In [41]:
import sys
d1 = {'a': 1, 'b': 2, 'c': 3}
size = sys.getsizeof(d1)
print(size)

184

### 9. Program to create grade calculator in python

In [50]:
print("Enter marks obtained in 5 subjects: ")

Math_marks = int(input("Enter Math marks"))
print("MAth_sub_marks: ",Math_marks)

Science_marks = int(input("Enter Science marks"))
print("Sciemce_sub_marks: ",Science_marks)

Hindi_marks = int(input("Enter Hindi marks"))
print("Hindi_sub_marks: ",Hindi_marks)

History_marks = int(input("Enter History marks"))
print("History_sub_marks: ",History_marks)

English_marks = int(input("Enter English marks"))
print("English_sub_marks: ",English_marks)

Total_Marks = Math_marks + Science_marks + Hindi_marks + History_marks + English_marks
Average = Total_Marks / 5

if Average >= 91 and Average <= 100:
    print("Your Grade is A")
elif Average >= 81 and Average <= 91:
    print("Your Grade is B")
elif Average >= 71 and Average <= 81:
    print("Your Grade is C")
elif Average >= 61 and Average <= 71:
    print("Your Grade is D")
elif Average >= 51 and Average <= 61:
    print("Your Grade is D")
elif Average >= 41 and Average <= 51:
    print("Your Grade is E")
else:
    print("Your Are Fail")

Enter marks obtained in 5 subjects:

Enter Math marks 89

MAth_sub_marks:  89

Enter Science marks 78

Sciemce_sub_marks:  78

Enter Hindi marks 45

Hindi_sub_marks:  45

Enter History marks 56

History_sub_marks:  56

Enter English marks 92

English_sub_marks:  92
Your Grade is C

### 10. Write a python program Convert List to list of dictionaries

In [53]:
key = ["name", "age", "city"]  
values  = [["Alice", 25, "New York"], ["Bob", 30, "Los Angeles"], ["Charlie", 22, "Chicago"]] 

for value in values:
    print(dict(zip(key , value)))

{'name': 'Alice', 'age': 25, 'city': 'New York'}
{'name': 'Bob', 'age': 30, 'city': 'Los Angeles'}
{'name': 'Charlie', 'age': 22, 'city': 'Chicago'}

### 11. Convert list of list to dictionary

In [59]:
a = [["a", 1], ["b", 2], ["c", 3]]
res = {key:value for key,value in a}
print(res)

{'a': 1, 'b': 2, 'c': 3}

### 12. Convert list of dictionaries to list of lists

In [63]:
a = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}] 

res = [[j for j in i.values()] for i in a]
res

[['Alice', 25], ['Bob', 30]]

### 13. Convert a list of tuple into dictionary

In [64]:
a = [("a", 1), ("b", 2), ("c", 3)]

res = dict(a)
print(res)

{'a': 1, 'b': 2, 'c': 3}

### 14. Python program to convert string to dictionary

In [68]:
s = "{'a': 1, 'b': 2, 'c': 3}"

res = eval(s)
print(res)
print(type(res))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

### 15. Python to convert matrix to dictionary

In [71]:
import numpy as np
matrix = np.arange(12).reshape(3,4)

res = {key+1 : value for key,value in enumerate(matrix)}
res

{1: array([0, 1, 2, 3]), 2: array([4, 5, 6, 7]), 3: array([ 8,  9, 10, 11])}

### 16. Create nested dictionary using given list

In [74]:
a = {'Gfg': 4, 'is': 5, 'best': 9}
b = [8, 3, 2]

res = {key: {k:v} for key,(k,v) in zip(b,a.items())}
print(res)

{8: {'Gfg': 4}, 3: {'is': 5}, 2: {'best': 9}}

### 17. Group similar items to dictionary values list

In [80]:
a = ['apple', 'banana', 'apple', 'orange', 'banana']

d =  {i:[i] * a.count(i) for i in set(a)}
d

{'orange': ['orange'],
 'banana': ['banana', 'banana'],
 'apple': ['apple', 'apple']}

### 18. ways to remove a key from dictionary

In [82]:
a = {"name": "Nikki", "age": 25, "city": "New York"}

remove_key = a.pop('age')
print(a)

{'name': 'Nikki', 'city': 'New York'}

In [84]:
a = {"name": "Nikki", "age": 25, "city": "New York"}
del a['city']
print(a)

{'name': 'Nikki', 'age': 25}

In [85]:
a = {"name": "Nikki", "age": 25, "city": "New York"}
a.popitem()
print(a)

{'name': 'Nikki', 'age': 25}