## Variable

* Variables are containers for storing data values
* Creating a variable is like creating a placeholder in memory and assigning it some value.
* Variables are used to store data values in computer memory. These values can be of different types such as numbers, text, or complex objects.

**Example:-**

In [4]:
a = 1
b = True
c = "Hello World"
d = 3.45

## What is a Data Type ?

Data types specify the type of value a variable holds. This is necessary in programming to perform various operations without causing errors.

In Python, we can determine the type of a value or variable using the **type()** function. This function returns the data type of the specified variable or value.

In [6]:
a = 1
print(type(a))

<class 'int'>

In [7]:
b = "1"
print(type(b))

<class 'str'>

* The following are the standard or built-in data types in Python:

### Numeric Data:
* The numeric data type in Python represents the data that has a numeric value. A numeric value can be an integer, a floating number, or even a complex number.

**1. Integers**
– This value is represented by int class. It contains positive or negative whole numbers (without fractions or decimals).

In [8]:
a1 = 5
print(a1)
print("The Data_type of a1 is:",type(a1))

5
The Data_type of a1 is: <class 'int'>

In [9]:
a2 = -8
print(a2)
print("The Data_type of a2 is:",type(a2))

-8
The Data_type of a2 is: <class 'int'>

**2.Float**
– This value is represented by the float class. It is a real number with a floating-point representation. It is specified by a decimal point.

In [10]:
a3 = 7.349
print(a3)
print("The Data_type of a3 is:",type(a3))

7.349
The Data_type of a3 is: <class 'float'>

In [11]:
a4 = -0.45
print(a4)
print("The Data_type of a4 is:", type(a3))

-0.45
The Data_type of a4 is: <class 'float'>

**3. Complex Number** - A complex number is represented by a complex class. It is specified as (real part) + (imaginary part)j.

In [16]:
a5 = 6 + 2j
print(a5)
print("The Data_type of a5 is:", type(a5))

(6+2j)
The Data_type of a5 is: <class 'complex'>

### String Data Type(str):

**1. String** -  A string is a collection of one or more characters put in a single quote, double-quote, or triple-quote. It is represented by str class.

In [21]:
a6 = """Hello World"""
print(a6)
print("The Data_type of a6 is:",type(a6))

Hello World
The Data_type of a6 is: <class 'str'>

In [18]:
a7 = "Python"
print(a7)
print("The Data_type of a7 is:",type(a7))

Python
The Data_type of a7 is: <class 'str'>

### Boolean Data

Data type with one of the two built-in values, True or False. Boolean objects that are equal to True are truthy **(true)**, and those equal to False are falsy **(false)**.

**Note** – True and False with capital ‘T’ and ‘F’ are valid booleans otherwise python will throw an error.

In [19]:
a8 = True
print(a8)
print("The Data_type of a8 is:",type(a8))

True
The Data_type of a8 is: <class 'bool'>

In [20]:
a9 = False
print(a9)
print("The Data_type of a9 is:",type(a9))

False
The Data_type of a9 is: <class 'bool'>

### Sequence Data Type in Python

**1. List** - As a datatype, a list represents an ordered collection of items. Each item in a list can be of any data type, including integers, strings, other lists, or even more complex objects separated by a comma and enclosed within **square brackets[ ]**. Lists are mutable, meaning you can modify them after they are created by adding, removing, or changing elements.

In [23]:
# create empty list
list1 = []
print(list1)
print("The Data_type of list1 is:",type(list1))

[]
The Data_type of list1 is: <class 'list'>

In [24]:
# create list store int value
list2 = [1,2,3,4,5]
print(list2)
print("The Data_type of list2 is:",type(list2))

[1, 2, 3, 4, 5]
The Data_type of list2 is: <class 'list'>

In [25]:
# create list store multiple datatype
list3 = [1, "Hello_World", 3.14, True]
print(list3)
print("The Data_type of list3 is:",type(list3))

[1, 'Hello_World', 3.14, True]
The Data_type of list3 is: <class 'list'>

In [26]:
# create nested list
list4 = [[1,2,3],[4,5,6]]
print(list4)
print("The Data_type of list4 is:",type(list4))

[[1, 2, 3], [4, 5, 6]]
The Data_type of list4 is: <class 'list'>

**2. Tuple** - A tuple in Python is a built-in data type used to store an ordered collection of elements. Unlike lists, tuples are immutable, meaning once they are created, their elements cannot be changed, added, or removed. However, the elements within a tuple can be of any data type, including integers, strings, floats, other tuples, or even more complex objects.
You can create a tuple in Python by enclosing the elements within **parentheses ()** separated by commas.

In [30]:
# Create empty tuple
Tup1 = ()
print(Tup1)
print("The Data_Type of Tup1 is:",type(Tup1))

()
The Data_Type of Tup1 is: <class 'tuple'>

In [31]:
# Create tuple store int
Tup2 = (1,2,3,4,5)
print(Tup2)
print("The Data_type of Tup2 is:",type(Tup2))

(1, 2, 3, 4, 5)
The Data_type of Tup2 is: <class 'tuple'>

In [32]:
# create tuple store multiple datatype
Tup3 = (2,"Python",9.8,False)
print(Tup3)
print("The Data_type of Tup3 is:",type(Tup3))

(2, 'Python', 9.8, False)
The Data_type of Tup3 is: <class 'tuple'>

In [33]:
# Create nested tuple
Tup4 = ((3,2,1),(6,5,4))
print(Tup4)
print("The Data_type of Tup4 is:",type(Tup4))

((3, 2, 1), (6, 5, 4))
The Data_type of Tup4 is: <class 'tuple'>

**3. Dictionary** - In Python, a dictionary is a built-in data type used to store collections of key-value pairs. It is an unordered, mutable, and iterable data structure. Each key in a dictionary must be unique and immutable, while the corresponding value can be of any data type and mutable.
You can create a dictionary in Python by enclosing the elements within **curly brackets { }** separated by commas.

In [34]:
# create empty dictionary
dict1 = {}
print(dict1)
print("The Data_type of dict1 is:",type(dict1))

{}
The Data_type of dict1 is: <class 'dict'>

In [37]:
# create dictionary store int
dict2 = {"number":[1,2,3,4,5]}
print(dict2)
print("The Data_type of dict2 is:",type(dict2))

{'number': [1, 2, 3, 4, 5]}
The Data_type of dict2 is: <class 'dict'>

In [39]:
# create dictionary store multiple datatype
dict3 = {"int":1,"str":"dictionary","float":6.5,"Bool":True}
print(dict3)
print("The Data_type of dict3 is:",type(dict3))

{'int': 1, 'str': 'dictionary', 'float': 6.5, 'Bool': True}
The Data_type of dict3 is: <class 'dict'>

**4. Set** - In Python, a set is a built-in data type used to store an unordered collection of unique elements. Sets are mutable, meaning you can modify them after they are created by adding or removing elements, but unlike lists or tuples, they do not support indexing.
You can create a set in Python using **curly braces {}** or the **set()** constructor.

In [41]:
# create empty set
set1 = {}
print(set1)
print("The Data_type of set1 is:",type(set1))

{}
The Data_type of set1 is: <class 'dict'>

**Note-** - To create an empty set, you should use the set() constructor because Python uses curly braces {} for both dictionary literals and set literals, and the interpreter interprets {} as an empty dictionary by default.

In [42]:
set1 = set()
print(set1)
print("The Data_type of set1 is:", type(set1))

set()
The Data_type of set1 is: <class 'set'>

In [45]:
set2 = {1, 2, 2, 3, 3, 3}
print(set2)
print("The Data_type of set2 is:",type(set2))
# here Sets automatically eliminate duplicate elements

{1, 2, 3}
The Data_type of set2 is: <class 'set'>