# Dictionary {Key:Value}

In Python, a dictionary is an unordered collection of items. Each item is stored as a key-value pair, where the key must be unique, and the value can be of any data type. Dictionaries are useful when you need a fast lookup for values based on keys.

characterstics:
* Mutable
* Indexing has no meaning
* keys can't be duplicated
* key can't be mutable items

### Create Dictionary

In [1]:
# Create empty dictionary
d1 = {}
print(d1)
print(type(d1))

{}
<class 'dict'>

In [2]:
# Homogeneous Dictionary
d2 = {'Name':'Rutuja' , 'gender':'female'}
print(d2)

{'Name': 'Rutuja', 'gender': 'female'}

In [3]:
# Hetrogeneous Dictionary
d3 = {(1,2,3):1, "Hello":"Word"}
print(d3)

{(1, 2, 3): 1, 'Hello': 'Word'}

In [4]:
# 2D Dictionary
d4 = {
    'Name':"Rutuja",
    'college':"bit",
    'sem':4,
    'subject':{
        'dsa':50,
        'math':67,
        'english':34
        
    }
}
print(d4)

{'Name': 'Rutuja', 'college': 'bit', 'sem': 4, 'subject': {'dsa': 50, 'math': 67, 'english': 34}}

In [5]:
# using typeconversion
d5 = dict([(1,1),(2,2),(3,3)])
print(d5)

{1: 1, 2: 2, 3: 3}

In [6]:
# Duplicate keys
d6 = {'Name':'Rutuja','Name':'Khairnar'}
print(d6)

{'Name': 'Khairnar'}

In [7]:
# mutable items as keys not allow
d7 = {'Name':'Rutuja',[1,2,3]:2}
print(d7)

TypeError: unhashable type: 'list'

In [ ]:
# immutable items as keys are allow
d8 = {'Name':'Rutuja',(1,2,3):2}
print(d8)

### Acessing items in dictionary

In [8]:
my_dict = {'Name':'Rutuja','age':25}
my_dict['age']

25

### get()

In [9]:
print(my_dict.get('Name'))

Rutuja

In [10]:
d4['subject']['dsa']

50

### Adding key-value pairs

In [12]:
my_dict['gender'] = 'female'
print(my_dict)

{'Name': 'Rutuja', 'age': 25, 'gender': 'female'}

In [13]:
my_dict['weight'] = 40
print(my_dict)

{'Name': 'Rutuja', 'age': 25, 'gender': 'female', 'weight': 40}

In [14]:
my_dict[3]=3

In [17]:
d4['subject']["history"] = 90
print(d4)

{'Name': 'Rutuja', 'college': 'bit', 'sem': 4, 'subject': {'dsa': 50, 'math': 67, 'english': 34, 'history': 90}}

### Remove key-value pairs

In [18]:
my_dict

{'Name': 'Rutuja', 'age': 25, 'gender': 'female', 'weight': 40, 3: 3}

### pop(key)
Removes a specific key-value pair using the key and returns the value associated with the key.

In [19]:
my_dict.pop(3)
print(my_dict)

{'Name': 'Rutuja', 'age': 25, 'gender': 'female', 'weight': 40}

### popitem()
Removes and returns the last inserted key-value pair as a tuple in Python 3.7+ (dictionaries maintain insertion order starting from Python 3.7).

In [20]:
my_dict.popitem()
print(my_dict)

{'Name': 'Rutuja', 'age': 25, 'gender': 'female'}

### del
Deletes a specific key-value pair using the key or deletes the entire dictionary.

In [21]:
del my_dict["Name"]
print(my_dict)

{'age': 25, 'gender': 'female'}

In [22]:
del d4["subject"]["history"]
print(d4)

{'Name': 'Rutuja', 'college': 'bit', 'sem': 4, 'subject': {'dsa': 50, 'math': 67, 'english': 34}}

### clear()
Removes all items from the dictionary, leaving it empty.

In [23]:
my_dict.clear()
print(my_dict)

{}

### Editing Key-value pairs

In [24]:
d4['sem'] = 5
print(d4)

{'Name': 'Rutuja', 'college': 'bit', 'sem': 5, 'subject': {'dsa': 50, 'math': 67, 'english': 34}}

In [25]:
d4['subject']['dsa'] = 50
print(d4)

{'Name': 'Rutuja', 'college': 'bit', 'sem': 5, 'subject': {'dsa': 50, 'math': 67, 'english': 34}}

### Dictionary Operations

In [28]:
# Membership
print(d4)

{'Name': 'Rutuja', 'college': 'bit', 'sem': 5, 'subject': {'dsa': 50, 'math': 67, 'english': 34}}

In [29]:
'Name' in d4

True

In [30]:
for i in d4:
    print(i)

Name
college
sem
subject

In [31]:
for i in d4:
    print(i,d4[i])

Name Rutuja
college bit
sem 5
subject {'dsa': 50, 'math': 67, 'english': 34}

### Dictionary Functions

In [32]:
len(d4)

4

In [33]:
max(d4)

'subject'

In [34]:
min(d4)

'Name'

In [35]:
sorted(d4)

['Name', 'college', 'sem', 'subject']

In [38]:
sorted(d4,reverse=True)

['subject', 'sem', 'college', 'Name']

### items()

Returns a view object of key-value pairs as tuples.

In [39]:
print(d4.items())

dict_items([('Name', 'Rutuja'), ('college', 'bit'), ('sem', 5), ('subject', {'dsa': 50, 'math': 67, 'english': 34})])

### keys()

Returns a view object of all the keys in the dictionary.

In [40]:
print(d4.keys())

dict_keys(['Name', 'college', 'sem', 'subject'])

### values()

Returns a view object of all the values in the dictionary.

In [42]:
print(d4.values())

dict_values(['Rutuja', 'bit', 5, {'dsa': 50, 'math': 67, 'english': 34}])

### Update()

Updates the dictionary with key-value pairs from another dictionary or iterable.

In [46]:
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension

In [48]:
# print 1st 10 numbers and their square
d1 = {i:i**2 for i in range(1,11)}
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [52]:
# using existing distance
distance = {'delhi':1000,'mumbai':2000,'banglore':3000}
d2 = {key:value*0.62 for (key,value) in distance.items()}
d2

{'delhi': 620.0, 'mumbai': 1240.0, 'banglore': 1860.0}

In [62]:
days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
temp_c = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]
d3 = {key:values for key in days for values in temp_c}
d3

{'Sunday': 29.9,
 'Monday': 29.9,
 'Tuesday': 29.9,
 'Wednesday': 29.9,
 'Thursday': 29.9,
 'Friday': 29.9,
 'Saturday': 29.9}

In [64]:
# using zip
days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
temp_c = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]
d4 = {key:value for (key,value) in zip(days,temp_c)}
d4

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [67]:
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

d5 = {key:value for (key,value) in products.items() if value>0}
d5

{'phone': 10, 'charger': 32}

In [70]:
table = {i:{j:i*j for j in range(1,11)} for i in range(2,5)}
table

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [72]:
num = 5
d6 = {i * num for i in range(1,11)}
d6

{5, 10, 15, 20, 25, 30, 35, 40, 45, 50}