## Some Important Series Methods

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('subs.csv')
df1 = df1.squeeze()
df1

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [3]:
df2 = pd.read_csv('kohli_ipl.csv',index_col='match_no')
df2 = df2.squeeze()
df2

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [4]:
df3 = pd.read_csv('bollywood.csv',index_col='movie')
df3 = df3.squeeze()
df3

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

### 1. astype
This method is used to cast a pandas object to a specified data type. It can convert an entire DataFrame to a single type or convert specific columns to different types.

In [5]:
import sys
sys.getsizeof(df2)

3472

In [6]:
sys.getsizeof(df2.astype('int16'))

2182

### 2. between
This method is used to filter DataFrame rows or Series elements that fall within a specified range.

In [7]:
df2[df2.between(51,99)].size

43

### 3. clip
This method trims values at specified input thresholds. Values below the lower threshold are set to the threshold, and values above the upper threshold are set to that threshold.​

In [8]:
df1.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

### 4. Drop_duplicates
 This method removes duplicate rows from a DataFrame. By default, it considers all columns, but you can specify particular columns to check for duplicates.

In [9]:
temp = pd.Series([1,1,2,3,3,3,4,5])
temp

0    1
1    1
2    2
3    3
4    3
5    3
6    4
7    5
dtype: int64

In [10]:
temp.drop_duplicates()

0    1
2    2
3    3
6    4
7    5
dtype: int64

In [11]:
temp.drop_duplicates(keep='last')

1    1
2    2
5    3
6    4
7    5
dtype: int64

In [12]:
df3.drop_duplicates()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Sssshhh...                              Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                  Tanuja
Right Here Right Now (film)                        Ankit
Talaash: The Hunt Begins...                Rakhee Gulzar
The Pink Mirror                          Edwin Fernandes
Name: lead, Length: 566, dtype: object

In [13]:
temp.duplicated().sum()

3

### 5. isnull
 This function detects missing values in a DataFrame or Series. It returns a DataFrame or Series of the same shape, indicating the presence of missing values.

In [14]:
temp = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [15]:
temp.size

10

In [16]:
temp.count()

7

In [17]:
temp.isnull().sum()

3

### 6. dropna
This method removes missing values. You can specify to drop rows or columns containing missing values.​

In [18]:
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

### 7. fillna
This method fills missing values with a specified value or method (such as forward or backward fill).

In [19]:
temp.fillna(temp.mean())

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

### 8. isin
This method checks whether each element in the DataFrame is contained in a specified list-like object, returning a DataFrame of booleans.

In [20]:
df2[(df2 == 49) | (df2 == 99)]

match_no
82    99
86    49
Name: runs, dtype: int64

In [21]:
df2[df2.isin([49,99])]

match_no
82    99
86    49
Name: runs, dtype: int64

### 9. apply
This method applies a function along an axis of the DataFrame (either rows or columns).

In [22]:
df3.apply(lambda x: x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [23]:
df1.apply(lambda x: 'good day' if x > df1.mean() else 'bad day')

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object

### 10. copy
This method creates a copy of the DataFrame or Series. It's useful to avoid modifying the original data when making changes.

In [24]:
new = df2.head().copy()
new[1]= 100
new

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64