# Set {}

In Python, a set is a built-in data type that represents an unordered collection of unique elements and must be immutable(can not changed).However a set itself is mutable. we can add or remove items from it
sets can also be used to perform mathematical set operations like Union, intersection, symmentric difference, etc.

**Unordered:** The elements in a set do not maintain any specific order.

**Unique:** Sets do not allow duplicate elements; if you try to add a duplicate item, it will be ignored.

**Immutable:** we can add, delete items. but we cant contain mutable data type.

### Creating sets

In [1]:
# empty set
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [2]:
# homogeneous set
s1 = {1,2,3,4,5}
print(s1)

{1, 2, 3, 4, 5}

In [3]:
# Hetrogeneous set
s2 = {1, "Hello", 4.5, True}
print(s2)

{1, 'Hello', 4.5}

Note:- Set Not allowed Duplicate

In [4]:
# Using type conversion
s3 = set([1,2,3,4,5])
print(s3)

{1, 2, 3, 4, 5}

In [5]:
# Duplicates are not allowed
s4 = {1,1,2,2,3,3}
print(s4)

{1, 2, 3}

In [6]:
# sets can't allow mutable datatype
s5 = {1,2,3,4,{5,6}}
print(s5)

TypeError: unhashable type: 'set'

In [ ]:
# Unordered
s6 = {1,2,3}
s7 = {3,1,2}

print(s6 == s7)

### Accessing Items from a set
- In Python, sets are unordered collections of unique elements, so you cannot access items in a set by index like you can with lists or tuples. Sets do not support indexing, slicing, or any other methods that would rely on the order of the elements.

In [7]:
s8 = {1,2,3,4}
s1[0]

TypeError: 'set' object is not subscriptable

### Editing item in a Set

In [8]:
s9 = {1,2,3,4}
s9[0] = 100

TypeError: 'set' object does not support item assignment

Note:- set are unordered collections

### Adding Items to a set

### Add()
- The add() method adds a single element to a set. If the element is already present, it will not be added again, ensuring the set contains only unique elements.

In [9]:
S1 = {1,2,3}
S1.add(5)
print(S1)

{1, 2, 3, 5}

### Update()
The update() method can be used to add multiple elements to a set. You can pass an iterable (like a list, tuple, or another set) to update(),

In [10]:
S1.update([5,6,7])
print(S1)

{1, 2, 3, 5, 6, 7}

### Deleting items from a Set

### Delete()
If you want to completely delete a set itself (not just its elements), you can use the del keyword. This will remove the set entirely from memory.

In [11]:
S2 = {1,2,3,4}
del S2
print(S2)

NameError: name 'S2' is not defined

### Discard()
The discard() method is similar to remove(), but it does not raise an error if the element is not found. If the item is not in the set, it simply does nothing.

In [12]:
S1

{1, 2, 3, 5, 6, 7}

In [13]:
S1.discard(5)
print(S1)

{1, 2, 3, 6, 7}

### Remove()
The remove() method removes a specific element from a set. If the element is not found, it raises a KeyError.

In [14]:
S1.remove(3)
print(S1)

{1, 2, 6, 7}

### Pop()
The pop() method removes and returns an arbitrary element from the set. Since sets are unordered, you cannot predict which item will be removed. If the set is empty, it raises a KeyError.

In [15]:
S1

{1, 2, 6, 7}

In [17]:
S1.pop()
print(S1)

{6, 7}

### Clear()
The clear() method removes all elements from the set, leaving it empty.

In [18]:
S1.clear()
print(S1)

set()

## Set Operations

Python sets support several common mathematical set operations, which allow you to perform various operations like union, intersection, difference, and symmetric difference. These operations can be done using both operators and methods.

### Union: 
Combine elements from two sets.
The union of two sets contains all unique elements from both sets.

Operator: ( | )

Method: union()

In [20]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8}

### Intersection:
Find common elements between two sets.
The intersection of two sets contains elements that are present in both sets.

Operator: ( & )

Method: intersection()

In [26]:
print(s1 & s2)

{4, 5}

In [23]:
print(s1.intersection(s2))

{4, 5}

### Difference: 
Find elements in one set but not in the other. The difference of two sets contains elements that are in the first set but not in the second.

Operator: ( - )

Method: difference()

In [27]:
print(s1 - s2)

{1, 2, 3}

In [28]:
print(s2 - s1)

{8, 6, 7}

In [30]:
print(s1.difference(s2))

{1, 2, 3}

In [31]:
print(s2.difference(s1))

{8, 6, 7}

### Symmetric Difference:
Find elements that are in either set but not in both.
The symmetric difference of two sets contains elements that are in either of the sets, but not in both.

Operator: ( ^ )

Method: symmetric_difference()

In [33]:
print(s1 ^ s2)

{1, 2, 3, 6, 7, 8}

In [34]:
print(s1.symmetric_difference(s2))

{1, 2, 3, 6, 7, 8}

In [35]:
# memborship
1 not in s1

False

In [37]:
# Iteration
for i in s1:
    print(i)

1
2
3
4
5

### Len:
This function returns the number of elements in a set.

In [38]:
s3 = {1,2,3,4,5}
print(len(s3))

5

### Max()
This function returns the largest element in asett.

In [39]:
print(max(s3))

5

### Min()
This function returns the smallest element in a set.

In [40]:
print(min(s3))

1

### sum()
sum() function to calculate the sum of elements in set..

In [41]:
print(sum(s3))

15

### Sorted()This function returns a new sorted set from the elements of an iterable..

In [43]:
# Ascending order
print(set(sorted(s3)))

{1, 2, 3, 4, 5}

In [48]:
# descending order
print(sorted(s3,reverse=True))

[5, 4, 3, 2, 1]

### Union/Update

In [57]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.union(s2))
s1.update(s2) # permant change in s1 but s2 as it is
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

### Intersection/Intersection_Update

In [58]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.intersection(s2))
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5}
{4, 5, 6, 7, 8}

### Difference/difference_Update

In [61]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.difference(s2))
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}

### Symmetric_difference/Symmetric_difference_update

In [63]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.symmetric_difference(s2))
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

### Disjoint:
Check if two sets have no common elements.
Two sets are disjoint if they have no elements in common.

In [67]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.isdisjoint(s2))

False

### Subset:
Check if one set is a subset of another.
A set is a subset of another if all elements of the first set are present in the second set.

Operator: <=

Method: issubset()

In [73]:
s3 = {1,2,3,4,5}
s4 = {3,4,5}

print(s4.issubset(s3))

True

In [75]:
s3 = {1,2,3,4,5}
s4 = {3,4,5}

print(s3 <= s4)

False

### Superset:
Check if one set is a superset of another.
A set is a superset of another if it contains all elements of the other set.

Operator: >= 

Method: issuperset()

In [76]:
print(s3.issuperset(s4))

True

In [77]:
print(s4 >= s3)

False

### Copy

In [78]:
s1 = {1,2,3}
s2 = s1.copy()
print(s2)

{1, 2, 3}

## Frozenset
Frozen set is just an immutable version of a python set object

### Create Frozenset

In [79]:
fs = frozenset([1,2,3])
print(fs)

frozenset({1, 2, 3})

In [84]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

print(fs1 | fs2)
print(fs1 & fs2)
print(fs1 - fs2)
print(fs2 - fs1)
print(fs1 ^ fs2)
print(fs1.isdisjoint(fs2))
print(fs1 <= fs2)
print(fs1 >= fs2)

frozenset({1, 2, 3, 4, 5})
frozenset({3})
frozenset({1, 2})
frozenset({4, 5})
frozenset({1, 2, 4, 5})
False
False
False

In [89]:
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
print(fs)

frozenset({frozenset({3, 4}), 1, 2})

## Set Comprehension

In [90]:
s1 = {i for i in range(1,11)}
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [91]:
s2 = {i ** 2 for i in range(1,11) if i>5}
print(s2)

{64, 36, 100, 49, 81}

In [94]:
s3 = {i for i in range(1,50) if i % 2 == 0 }
print(s3)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48}

In [101]:
pairs = {(i,j) for i in range(1, 4) for j in range(1, 4)}
print(pairs)

{(1, 2), (2, 1), (3, 1), (1, 1), (2, 3), (3, 3), (2, 2), (3, 2), (1, 3)}