## Tuple

- In Python, a tuple is an ordered collection of elements, similar to a list. However, tuples are immutable, meaning their elements cannot be changed after creation. Tuples are defined by enclosing the elements in parentheses ().

### Creating Tuple

In [1]:
# empty tuple
t1 = ()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [2]:
# create a tuple with single item using comma
t2 = ("Hello",)
print(t2)

('Hello',)

In [3]:
# Homogeneous tuple
t3 = (1,2,3,4,5)
print(t3)

(1, 2, 3, 4, 5)

In [4]:
# Hetrogeneous tuple
t4 = (1,2,True,[1,2,3])
print(t4)

(1, 2, True, [1, 2, 3])

In [5]:
# 2-D tuple
t5 = (1,2,3,(4,5))
print(t5)

(1, 2, 3, (4, 5))

In [6]:
# creating tuple using type conversion
print(tuple("Hello"))

('H', 'e', 'l', 'l', 'o')

### Accessing Items from a Tuple
- In order to access the tuple items refer to the index number. Use the index operator [ ] to access an item in a tuple. The index must be an integer. Nested tuple are accessed using nested indexing.

**Positive indexing:**
- In positive indexing, the index starts from 0 for the first element, 1 for the second element, and so on, increasing by one for each subsequent element.

**Negative indexing:**
- In negative indexing, the index starts from -1 for the last element, -2 for the second to last element, and so on, decreasing by one for each previous element.

### Indexing

In [7]:
print("Positive indexing")
print(t3[0])
print(t3[1])
print(t3[2])
print(t3[3])
print(t3[4])
print("------------------------")
print("Negative Indexing")
print(t3[-1])
print(t3[-2])
print(t3[-3])
print(t3[-4])
print(t3[-5])

Positive indexing
1
2
3
4
5
------------------------
Negative Indexing
5
4
3
2
1

In [8]:
t6 = ("Python",1,3.214,True)
print(t6)

# Positive indexing
# fetch true
print(t6[3])
# negative indexing
print(t6[-1])

('Python', 1, 3.214, True)
True
True

In [9]:
t5 = (1,2,3,(4,5))
print(t5)

# fetch 5 using +ve indexing
print(t5[3][1])

# using negative indexing
print(t5[3][-1])

(1, 2, 3, (4, 5))
5
5

In [10]:
t6 = ((((1,2,3),(4,5,6)),((7,8,9),(10,11,12))))
# fetch 12 using postive indexing
print(t6[1][1][2])

# using negative indexing
print(t6[-1][-1][-1])

12
12

In [11]:
t7 = tuple(range(0,10))
print(t7)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### Slicing
- Slicing in Python is a technique used to extract a portion of a sequence, such as a list, tuple, or string. It allows you to create a new sequence containing a subset of the elements from the original sequence, specified by a range of indices.

The syntax for slicing is sequence [start:stop:step]

In [12]:
# positive slicing
print(t7[0:5])

(0, 1, 2, 3, 4)

In [13]:
print(t7[4:7])

(4, 5, 6)

In [14]:
# negative slicing
print(t7[-5:])

(5, 6, 7, 8, 9)

In [16]:
print(t7[-1:-6:-1])

(9, 8, 7, 6, 5)

### Adding items in Tuples

In [17]:
print(t5)

(1, 2, 3, (4, 5))

In [17]:
t5[2] = 100
print(t5)

TypeError: 'tuple' object does not support item assignment

**Tuple are immutable**

### Deleting items from a Tuple

In [18]:
t1 = (1,2,3)
del t1

In [19]:
print(t1)

NameError: name 't1' is not defined

### Operations on Lists
- Arithmatic
- Membership
- Loop

In [32]:
# Arithmatic 
t1 = (1,2,3)
t2 = (4,5,6)
# concatenation/Merge
print(t1+t2)

(1, 2, 3, 4, 5, 6)

In [21]:
print(t1*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [22]:
# membership
print(1 in t1)
print(0 not in t2)

True
True

In [23]:
# loop
for i in t1:
    print(i)

1
2
3

## Tuple Functions

### Len()
- This function returns the number of elements in a Tuple.

In [25]:
t1 = (1,2,3,4,5)
print(len(t1))

5

### Max()
- This function returns the largest element in a Tuple.

In [26]:
# max
print(max(t1))

5

### Min()
- This function returns the smallest element in a Tuple.

In [27]:
# min
print(min(t1))

1

### Sorted()
- This function returns a new sorted Tuple from the elements of an iterable.

In [35]:
# Ascending order
print(tuple(sorted(t1)))

(1, 2, 3)

In [36]:
# descending order
print(tuple(sorted(t1,reverse=True)))

(3, 2, 1)

### sum()
- sum() function to calculate the sum of elements in a tuple.

In [30]:
# sum
print(sum(t1))

15

###  Count()
- The count() method in Python is used to count the number of occurrences of a specified element in a tuple. It returns the number of times the element appears in the tuple.

In [41]:
# Count
t2 = (1,2,3,4,8,9,2,5,3,1,7,8,10)
t2.count(2)

2

### Index()
- The index() method in Python is used to find the index of the first occurrence of a specified element in a tuple. It returns the index of the specified element if it is found in the tuple.

In [42]:
print(t2.index(8))

4